<%- include('templates/header'); %>
<body>
    <h1 class="title title2">Esta es mi Educacion</h1>
    <br><br><br>
    <div class="EduDiv">
        <div class="escuela">
            <h2>Bachillerato</h2>
            <li><a href="https://www.redacademica.edu.co/colegios/colegio-diego-montana-cuellar-ied">Colegio Diego Montaña cuellar</a></li>
            <img class="logo" src="https://www.redacademica.edu.co/sites/default/files/2021-11/Colegio%20Diego%20Monta%C3%B1a%20Cuellar%20%28IED%29.jpg" alt="">
            <li>2012-2021</li>
            <li>Formacion Presencial</li>
        </div>
        <div class="escuela">
            <h2>Tecnico PSW</h2>
            <li><a href="https://oferta.senasofiaplus.edu.co/sofia-oferta/">Sena ART.</a></li>
            <img class="logo sena" src="https://lostramites.com.co/wp-content/uploads/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="">
            <li>2020-2021</li>
            <li>Formacion Presencial-Virtual</li>
        </div>
        <div class="escuela">
            <h2>Tecnologo</h2>
            <li><a href="https://oferta.senasofiaplus.edu.co/sofia-oferta/">Sena</a></li>            
            <img class="logo sena" src="https://lostramites.com.co/wp-content/uploads/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="">
            <li>2021-2023</li>
            <li>Formacion Presencial-Virtual</li>
        </div>
        <div class="escuela">
            <h2>Cursos<br> Complementarios</h2>
            <li>Seguridad y Salud en el trabajo 2022</li>
            <img class="logo sena" src="http://cuidadoseguro.com.co/principal/wp-content/uploads/2021/06/logo_sst-02.png" alt="">
        </div>
    </div>
</body>
</html>