<%- include('templates/header'); %>
<body>
    <h1 class="title title2">Estas son mis Habilidades</h1>
    <br><br><br>
    <div class="EduDiv habilidad">
        <div>
            <h2>Bases de Datos</h2>
            <p>Experiencia en Bases de Datos relacionales, manejo de triggers, vistas, funciones y procedimientos almacenados</p>
        </div>
        <div>
            <h2>Front-End</h2>
            <p>Manejo de Html, Css y JavaScript, Experiencia en diferentes proyecto con diferentes estilos</p>
        </div>
        <div>
            <h2>Back-End</h2>
            <p>Manejo de PHP, Java basico y JavaScript, buena capacidad logica y de estrucuracion del codigo</p>
        </div>
    </div>
</body>
</html>