<%- include('templates/header'); %>
<body>
    <h1 class="title title2">Estas son mis Habilidades</h1>
    <br><br><br>
    <div class="EduDiv habilidad">
        <div>
            <h2>Bases de Datos</h2>
            <p>Experiencia en Bases de Datos relacionales, manejo de triggers, vistas, funciones y procedimientos almacenados</p>
            <img src="https://cdn.icon-icons.com/icons2/3399/PNG/512/data_icon_214843.png">
        </div>
        <div>
            <h2>Front-End</h2>
            <p>Manejo de Html, Css y JavaScript, Experiencia en diferentes proyecto con diferentes estilos</p>
            <img src="https://cdn.icon-icons.com/icons2/1/PNG/256/social_html5_html_71.png" id="html" alt="">
        </div>
        <div>
            <h2>Back-End</h2>
            <p>Manejo de PHP, Java basico y JavaScript, buena capacidad logica y de estrucuracion del codigo</p>
            <img src="https://cdn.icon-icons.com/icons2/38/PNG/512/coffeecuplogoJava_5406.png" alt="">
        </div>
    </div>
</body>
</html>