<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Kevin Zamora</title>
</head>
<%- include('templates/header'); %>
<body>
    <h1 class="title">Bienvenido a mi Portafolio</h1>

<div class="container">
    <div class="contenido">
        <h1>Informacion</h1>
        <a href="/Educacion">Academica</a>
        <a href="/Laboral">Laboral</a>
        <a href="/DatosBasicos">Personal</a>
        <a href="/Habilidades">Habilidades</a>
    </div>
    <div><a hidden>as</a></div>
    <div class="info4">
        <p>Hola, soy kevin Zamora un desarrollador en aprendizaje, 
            me gusta la programacion y los retos, soy un chico que 
            le gusta aprender y dejar las cosas bien hechas</p>
    </div>

</div>
   
</body>