<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
    <script src="./js/main.js"> </script>
    <title>Document</title>
</head>
<header>
    <div class="container-head">
        <ul>
            <li><a href="" class="img-a"><img src="https://previews.123rf.com/images/siamimages/siamimages1604/siamimages160400009/54792776-%E5%9F%BA%E6%9C%AC%E7%9A%84%E3%81%AA%E3%83%95%E3%82%A9%E3%83%B3%E3%83%88%E6%96%87%E5%AD%97-k-%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3-%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88-%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3.jpg" alt=""></a></li>
            <li><a href="../">Kevin Zamora</a></li>
            <li><a href="">News</a></li>
            <li style="float:right"><a class="active" href="/DatosBasicos">Sobre Mi</a></li>
            <li style="float:right"><a href="/Habilidades">Habilidades</a></li>
            <li style="float:right"><a href="/Laboral">Exp. Laboral</a></li>
            <li style="float:right"><a href="/Educacion">Info Academica</a></li>
          </ul>
    </div>
</header>
</html>